<section class="body">
  <div class="survey_name">
    <h1>{{ survey?.title }}</h1>
    <hr>
  </div>
  <form [formGroup]="surveyForm">
    <div formArrayName="questions" *ngFor="let question of survey?.questions; let i = index" class="question-box">

      <h4>{{ question.title }}</h4>

      <ng-container [formGroupName]="i" [ngSwitch]="question.type">
        <div *ngSwitchCase="QuestionType.MULTIPLE_CHOICE" class="question-checkbox">
          <ng-container formGroupName="userAnswers">
            <label formArrayName="answerOptions"
                   *ngFor="let option of sortAnswerOptions(question.answerOptions); let j = index" class="icon-text">
              <ng-container [formGroupName]="j">
                <input type="checkbox" formControlName='isChecked'>
                <p>{{ option.title }}</p>
              </ng-container>
            </label>
          </ng-container>
        </div>

        <ng-container formGroupName="userAnswers">
          <div *ngSwitchCase="QuestionType.SINGLE_CHOICE">
            <mat-form-field>
                <mat-label>Choose one</mat-label>
                <mat-select formControlName="answerSelect">
                  <mat-option [value]="option.id"
                              *ngFor="let option of sortAnswerOptions(question.answerOptions); let j = index">
                    {{ option.title }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>


          <div *ngSwitchCase="QuestionType.SHORT_TEXT" class="question-input">
            <input type="text" formControlName="answerText">
          </div>

          <div *ngSwitchCase="QuestionType.LONG_TEXT" class="question-textarea">
            <textarea rows="8" formControlName="answerText"></textarea>
          </div>

          <div *ngSwitchCase="QuestionType.DATE">
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input [matDatepicker]="picker" matInput formControlName="answerDate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="question-button">
      <button mat-raised-button (click)="saveAnswers()">Зберегти</button>
    </div>
  </form>

</section>
