.body {
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.question-box {
  background: #F1F1F9;
  border-radius: 15px;
  padding: 20px;
  margin-top: 30px;
}

.question-box h4 {
  font-size: 18px;
}

.question-select select {
  border: #3B3E91 solid 1px;
  background: white;
  width: 15%;
  height: 40px;
  border-radius: 15px;
}

.question-checkbox label {
  font-size: 14px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.question-checkbox p {
  margin: inherit;
}

.question-checkbox input {
  margin-right: 10px;
  margin-left: 5%;
  min-height: 30px;
}

.question-input input {
  border: #3B3E91 solid 1px;
  background: white;
  width: 90%;
  height: 40px;
  border-radius: 15px;
}

.question-textarea textarea {
  border: #3B3E91 solid 1px;
  background: white;
  width: 90%;
  border-radius: 15px;
  padding: 10px;
}

.question-button button {
  color: #F1F1F9;
  background-color: #3B3E91;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
}

.question-button {
  width: 150px;
  margin: 30px auto 30px auto;
}

.survey_name {
  margin-top: 50px;
  margin-bottom: 70px;
}

.survey_name h1 {
  margin: 0;
  font-weight: bold;
  font-size: 28px;
}

.survey_name hr {
  height: 1px;
  background-color: black;
}

.question-box h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.icon-text p {
  font-size: 16px;
}

