.body {
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.question-button button {
  color: #F1F1F9;
  background-color: #3B3E91;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
}

.question-button {
  width: 150px;
  margin: 30px auto 30px auto;
}

.question {
  width: 90%;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  margin-bottom: 20px;
  height: auto;
  min-height: 30px; /* Set a minimum height to avoid it becoming too small */
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide overflowing content */
}

.input-block {
  border: #3B3E91 solid 1px;
  background: white;
  width: 90%;
  height: 40px;
  border-radius: 15px;
}

.textarea-block {
  border: #3B3E91 solid 1px;
  background: white;
  width: 90%;
  height: 100px;
  border-radius: 15px;
}

.question-box {
  background: #F1F1F9;
  border-radius: 15px;
  padding: 20px;
  margin-top: 30px;
}

.icon-text {
  display: flex;
}

.question-box textarea {
  border: none;
  background: none;
  outline: none;
  min-height: 30px; /* Set a minimum height to avoid it becoming too small */
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide overflowing content */
}

.icon-text mat-icon {
  color: #3B3E91;
  /*margin-left: 1%;*/
  margin-right: 10px;
  font-size: 15px;
  height: 15px;
  width: 15px;
  margin-top: 4px;
  margin-left: 10px;
}

.delete-answer mat-icon {
  color: #C5C5E7;
  margin: 0;
}

.delete-answer button {
  background: none;
  border: none;
  box-shadow: none;
  min-width: 15px;
  padding: 0;
  height: 15px;
}

.delete-answer:hover mat-icon {
  color: #3B3E91;
}

.delete-answer {
  margin-left: 3%;
}

.icon-text textarea {
  font-size: 16px;
  width: 90%;
}

.add button {
  color: #3B3E91;
  background-color: #C5C5E7;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 20px;
}

.button-group-align {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.button-group mat-icon {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.mat-button-toggle {
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: #3B3E91;
  width: 20%;
}

.button-group {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

mat-button-toggle-group {
  border-radius: 15px;
}

.survey_name {
  margin-top: 50px;
  margin-bottom: 70px;
}

.survey_name h1 {
  margin: 0;
  font-weight: bold;
  font-size: 28px;
}

.survey_name hr {
  height: 1px;
  background-color: black;
}

.question-header {
  display: flex;
}

.question-header button {
  background: none;
  border: none;
  box-shadow: none;
  min-width: 24px;
  padding: 0;
  height: 24px;
  margin-left: auto;
}

.delete mat-icon {
  color: #3B3E91;
  margin: 0;
  font-size: 24px;
  height: auto;
  width: auto;
}
