<mat-drawer-container autosize class="example-container mat-typography">
  <mat-drawer #drawer disableClose="true" mode="side" opened="true">
    <div class="logo" routerLink="/">
      <img src="assets/Black%20Minimalist%20Letter%20A%20Logo.png">
      <div *ngIf="opened" class="logo-text">
        <p>CREATE</p>
        <p>SURVEY</p>
      </div>
    </div>

    <mat-nav-list>

      <mat-list-item routerLink="/surveys">
        <div class="flex">
          <mat-icon> list_alt</mat-icon>
          <h4 *ngIf="opened" class="h2" mat-line>Опитування</h4>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/create-surveys">
        <div class="flex">
          <mat-icon> add_box</mat-icon>
          <h4 *ngIf="opened" class="h2" mat-line>Нове опитування</h4>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/analysing-surveys">
        <div class="flex">
          <div class="img1">
            <img src="assets/data-analytics.png">
          </div>
          <div class="img2">
            <img src="assets/analytics%20(1).png">
          </div>
          <h4 *ngIf="opened" class="h2" mat-line routerLink="/analysing-surveys">Аналіз</h4>
        </div>
      </mat-list-item>
      <div class="open-close-menu">
        <button (click)="onClick()" class="open-close-menu" mat-mini-fab>
          <mat-icon aria-label="Menu">{{ icon }}</mat-icon>
        </button>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
