
.example-sidenav-content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
}

mat-drawer-content {
  background-color: #F1F1F9;
  padding: 20px 20px 20px 1px;
}

.mat-drawer-side {
  border: none;
}

mat-drawer-container {
  height: 100%;
}

.flex {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.img1 img {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  padding: 3px 3px 3px 3px;
  background-image: url("src/assets/data-analytics.png");
}

.flex mat-icon {
  margin-right: 10px;
}

.h2 {
  margin: 0;
}

.open-close-menu button {
  background-color: #C5C5E7;
  width: 30px;
  height: 30px;
  color: black;
}

.open-close-menu {
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

mat-drawer {
  background-color: #F1F1F9;
}

.logo {
  cursor: pointer;
  display: flex;
  width: 67%;
  margin: 10px auto 30px auto;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.logo br {
  margin-bottom: 20px;
}

.logo-text {
  color: #C5C5E7;
  font-weight: bold;
  font-size: 21px;
}

.logo-text p {
  margin: 0 0 0 7px;
}

mat-list-item:hover {
  background-color: #3B3E91;
  width: 100%;
  border-radius: 0 10px 10px 0;
}

mat-list-item:hover .flex {
  color: white;
}

mat-list-item:hover .flex .img2 img {
  display: block;
}

mat-list-item:hover .flex .img1 img {
  display: none;
}

.img2 img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  padding: 3px 3px 3px 3px;
  display: none;
}




