.input-search input {
  background: none;
  border: none;
  margin-left: 10px;
  outline: none;
  font-size: 16px; /* increase font size */
  width: 100%;
}

mat-icon {
  padding-right: 10px;
  vertical-align: middle;
}

.input-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F1F1F9;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 600px) {
  .input-search input {
    font-size: 14px;
  }

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}
