<div class="input-search">
  <input #searchInput (keydown.enter)='searchTitle(searchInput.value)'
         (input)='searchTitle(searchInput.value)'
         placeholder="Search by name" type="text"
  >
  <mat-icon (click)="searchTitle(searchInput.value)">search</mat-icon>
  <mat-icon (click)="resetSearch(searchInput)">clear</mat-icon>
</div>
