<section class="content">
  <div class="user-box-wrapper">
    <app-user-box></app-user-box>
  </div>
  <h1 class="survey-title">{{ survey?.title }}</h1>
  <ng-container *ngFor="let question of survey?.questions">
    <div class="chart-wrapper" *ngIf="question.type === QuestionType.SINGLE_CHOICE || question.type === QuestionType.MULTIPLE_CHOICE">
      <h2 class="chart-title">{{question.title}}</h2>
      <app-question-bar-chart [question]="question"></app-question-bar-chart>
    </div>
    <div class="chart-wrapper" *ngIf="question.type === QuestionType.DATE">
      <h2 class="chart-title">{{question.title}}</h2>
      <app-question-date-chart [question]="question"></app-question-date-chart>
    </div>
    <div class="chart-wrapper" *ngIf="question.type === QuestionType.SHORT_TEXT || question.type === QuestionType.LONG_TEXT">
      <div class="chart-title-wrapper">
        <h2 class="chart-title">{{question.title}}</h2>
        <ng-container *ngIf="question?.sentimentPrediction !== undefined">
          <mat-icon [ngClass]="question.sentimentPrediction! >= 0.5 ? 'green-color' : 'red-color'"
                    class="sentiment-icon"
                    [matTooltip]="question.sentimentPrediction! * 100 + '%'"
                    [innerText]="question.sentimentPrediction! >= 0.5 ? 'sentiment_satisfied_alt' : 'sentiment_dissatisfied'">
          </mat-icon>
        </ng-container>
      </div>
      <app-text-input-analyse-card [question]="question"></app-text-input-analyse-card>
    </div>
  </ng-container>
</section>
