.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.user-box-wrapper {
  margin-left: auto;
}

.survey-title {
  font-size: 2em;
  font-weight: bold;
  margin: 15px 5% 40px 0;
}

.chart-wrapper {
  width: 100%;
  max-width: 80%;
  background-color: rgba(241, 241, 249, 1);
  border-radius: 15px;
  padding: 15px 25px 25px 25px;
  margin: auto auto 20px auto;

  .chart-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.green-color {
  color: green;
}

.red-color {
  color: red;
}

.sentiment-icon {
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.chart-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 8px;
}
