<mat-card>
  <mat-card-header>
    <mat-card-title>Create your account</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="signUp()" [formGroup]="signUpForm">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" matInput placeholder="First Name">
        <mat-error *ngIf="signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched">
          Please enter your first name
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput placeholder="Last Name">
        <mat-error *ngIf="signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched">
          Please enter your last name
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email" type="email">
        <mat-error *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input formControlName="phone" matInput placeholder="Phone">
        <mat-error *ngIf="signUpForm.get('phone')?.invalid && signUpForm.get('phone')?.touched">
          Please enter your phone number
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Password" type="password">
        <mat-error *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
          Length 4 and 16 characters and no special characters
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input formControlName="confirmPassword" matInput placeholder="Confirm password" type="password">
        <mat-error>
          The passwords must match
        </mat-error>
      </mat-form-field>
      <button [disabled]="signUpForm.invalid" class="sign-in-button" color="primary" mat-raised-button type="submit">
        Sign up
      </button>
    </form>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <p class="grey-text">Already have an account?</p>
    <button (click)="openSignInDialog()" class="text-button" color="primary" mat-button>Sign in</button>
  </mat-card-actions>
</mat-card>
