<div class="question-box">
  <div class="question-header">
    <textarea (input)="onInput($event)" [(ngModel)]="question.title" class="question" placeholder="Введіть питання"
              rows="1" type="text"></textarea>
    <button (click)="removeQuestion()" class="delete" mat-raised-button>
      <mat-icon> delete_outline</mat-icon>
    </button>
  </div>
  <div class="input-block"></div>
</div>
