<div class="question-box">
  <div class="question-header">
    <textarea (input)="onInput($event)" [(ngModel)]="question.title" class="question" placeholder="Введіть питання"
              rows="1" type="text"></textarea>
    <button (click)="removeQuestion()" class="delete" mat-raised-button>
      <mat-icon> delete_outline</mat-icon>
    </button>
  </div>
  <div *ngFor="let option of question.answerOptions; let i = index" class="answer">
    <div class="delete-answer">
      <button (click)="removeOption(i)" mat-raised-button>
        <mat-icon> indeterminate_check_box</mat-icon>
      </button>
    </div>
    <mat-icon> radio_button_unchecked</mat-icon>
    <textarea (input)="onInput($event)" [(ngModel)]="question.answerOptions[i].title"
              placeholder="Введіть варіант відповіді {{ i + 1 }}" rows="1" type="text"></textarea>
  </div>
  <br>
  <div class="add">
    <button (click)="addOption()" mat-raised-button>
      <mat-icon> add</mat-icon>
      Відповідь
    </button>
  </div>
</div>
