.add button {
  color: #3B3E91;
  background-color: #C5C5E7;
  border: none;
  outline: none;
  border-radius: 10px;
}

.answer mat-icon {
  color: #3B3E91;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  height: 15px;
  width: 15px;
  margin-top: 4px;
}

.answer textarea {
  width: 90%;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  background: none;
  height: auto;
  min-height: 30px; /* Set a minimum height to avoid it becoming too small */
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide overflowing content */
}

.answer {
  display: flex;
}

.question {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  margin-bottom: 20px;
  height: auto;
  min-height: 30px; /* Set a minimum height to avoid it becoming too small */
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide overflowing content */
}

.add-question mat-icon {
  font-size: 14px;
}

.question-box {
  background: #F1F1F9;
  border-radius: 15px;
  padding: 20px;
  margin-top: 30px;
}

.question-header {
  display: flex;
}

.question-header mat-icon {
  color: #3B3E91;
  margin-left: auto;
}

.delete {
  background: none;
  border: none;
  box-shadow: none;
  min-width: 24px;
  padding: 0;
  height: 24px;
}

.delete mat-icon {
  margin: 0;
  font-size: 24px;
  height: auto;
  width: auto;
}

.delete-answer mat-icon {
  color: #C5C5E7;
  margin: 0;
}

.delete-answer button {
  background: none;
  border: none;
  box-shadow: none;
  min-width: 15px;
  padding: 0;
  height: 15px;
}

.delete-answer:hover mat-icon {
  color: #3B3E91;
}

.delete-answer {
  margin-left: 3%;
}
