<div class="question-box">
  <div class="question-header">
    <textarea (input)="onInput($event)" [(ngModel)]="question.title" class="question" placeholder="Введіть питання"
              rows="1" type="text"></textarea>
    <button (click)="removeQuestion()" class="delete" mat-raised-button>
      <mat-icon> delete_outline</mat-icon>
    </button>
  </div>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input [matDatepicker]="picker" disabled matInput>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
