mat-card {
  max-width: 500px;
  padding: 20px;
  margin: 20px;
}

mat-card-header {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-card-content {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-divider {
  align-items: center;
}

.sign-in-button {
  width: 200px; /* adjust as needed */
  padding: 10px 20px; /* adjust as needed */
  float: left;
  margin-bottom: 35px;
}

.grey-text {
  color: grey;
  margin: 0;
  padding-left: 8px;
  font-size: 12px;
}

.text-button {
  font-size: 16px;
}
