<mat-card>
  <mat-card-header>
    <mat-card-title>Sign in to your account</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="signIn()" [formGroup]="signInForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email" type="email">
        <mat-error *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Password" type="password">
        <mat-error *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
          Length 4 and 16 characters and no special characters.
        </mat-error>
      </mat-form-field>
      <button [disabled]="signInForm.invalid" class="sign-in-button" color="primary" mat-raised-button type="submit">
        Sign in
      </button>
    </form>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <p class="grey-text">Don't have an account yet?</p>
    <button (click)="openSignUpDialog()" class="text-button" color="primary" mat-button>Create an account</button>
  </mat-card-actions>
</mat-card>
