.question-box {
  background: #F1F1F9;
  border-radius: 15px;
  padding: 20px;
  margin-top: 30px;
}

.question-box textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  margin-bottom: 20px;
  height: auto;
  min-height: 30px; /* Set a minimum height to avoid it becoming too small */
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide overflowing content */
}

.textarea-block {
  border: #3B3E91 solid 1px;
  background: white;
  width: 90%;
  height: 100px;
  border-radius: 15px;
}

.question-header {
  display: flex;
}

.question-header mat-icon {
  color: #3B3E91;
  margin-left: auto;
}

.delete {
  background: none;
  border: none;
  box-shadow: none;
  min-width: 24px;
  padding: 0;
  height: 24px;
}

.delete mat-icon {
  margin: 0;
  font-size: 24px;
  height: auto;
  width: auto;
}
