.content {
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.user-box-wrapper {
  float: right;
}

.form-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-title textarea {
  border: none;
  outline: none;
  background: none;
  font-size: 24px;
  width: 90%;
  height: auto;
  min-height: 30px; /* Set a minimum height to avoid it becoming too small */
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide overflowing content */
}

.form-title hr {
  width: 100%;
  margin: 0;
}

.button-group mat-icon {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.mat-button-toggle {
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: #3B3E91;
  width: 20%;
}

.button-group {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

mat-button-toggle-group {
  border-radius: 15px;
}

.button-group-align {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #3B3E91;
}

.custom-input {
  background-color: #3B3E91;
}

.question-button button {
  color: #F1F1F9;
  background-color: #3B3E91;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
}

.question-button {
  margin: 30px auto 30px auto;
  width: 150px;
}
