<section class="content">
  <div class="user-box-wrapper">
    <app-user-box></app-user-box>
  </div>
  <section class="center-content">
    <form class="form-title">
      <textarea class="bg-tr" [formControl]="surveyTitle" placeholder="Введіть назву опитування" rows="1" type="text"></textarea>
      <hr>
      <mat-error *ngIf="surveyTitle.invalid && surveyTitle.touched">
        {{ getTitleErrorMessage() }}
      </mat-error>
    </form>
    <div class="button-group-align">
      <mat-button-toggle-group aria-label="Font Style" class="button-group" name="fontStyle">
        <mat-button-toggle (click)="addSelectQuestion()" value="Select">
          <mat-icon>add</mat-icon>
          Select
        </mat-button-toggle>
        <mat-button-toggle (click)="addCheckboxQuestion()" value="Checkbox">
          <mat-icon>add</mat-icon>
          Checkbox
        </mat-button-toggle>
        <mat-button-toggle (click)="addInputQuestion()" value="Input">
          <mat-icon>add</mat-icon>
          Input
        </mat-button-toggle>
        <mat-button-toggle (click)="addTextAreaQuestion()" value="Textarea">
          <mat-icon>add</mat-icon>
          Textarea
        </mat-button-toggle>
        <mat-button-toggle (click)="addDateQuestion()" value="Date">
          <mat-icon>add</mat-icon>
          Date
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="question-content">
      <form>
        <div *ngFor="let question of questions; let i = index">
          <ng-container *ngIf="question.type === QuestionType.MULTIPLE_CHOICE">
            <app-checkbox (addOptionEmitter)="onAddOption(i)"
                          (questionChangedEmitter)="onQuestionChanged($event)"
                          (removeOptionEmitter)="onRemoveOption(i, $event)"
                          (removeQuestionEmitter)="onRemoveQuestion(i)"
                          [question]="question"
            ></app-checkbox>
          </ng-container>
          <ng-container *ngIf="question.type === QuestionType.SINGLE_CHOICE">
            <app-select (addOptionEmitter)="onAddOption(i)"
                        (questionChangedEmitter)="onQuestionChanged($event)"
                        (removeOptionEmitter)="onRemoveOption(i, $event)"
                        (removeQuestionEmitter)="onRemoveQuestion(i)"
                        [question]="question"
            ></app-select>
          </ng-container>
          <ng-container *ngIf="question.type === QuestionType.DATE">
            <app-date (questionChangedEmitter)="onQuestionChanged($event)"
                      (removeQuestionEmitter)="onRemoveQuestion(i)"
                      [question]="question"
            ></app-date>
          </ng-container>
          <ng-container *ngIf="question.type === QuestionType.SHORT_TEXT">
            <app-input (questionChangedEmitter)="onQuestionChanged($event)"
                       (removeQuestionEmitter)="onRemoveQuestion(i)"
                       [question]="question"
            ></app-input>
          </ng-container>
          <ng-container *ngIf="question.type === QuestionType.LONG_TEXT">
            <app-textarea (questionChangedEmitter)="onQuestionChanged($event)"
                          (removeQuestionEmitter)="onRemoveQuestion(i)"
                          [question]="question"
            ></app-textarea>
          </ng-container>
        </div>
        <div class="question-button">
          <button (click)="saveSurvey()" mat-raised-button>Зберегти</button>
        </div>
      </form>
    </div>
  </section>
</section>
