
.body {
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.up-content {
  display: flex;
}

.input-search input {
  width: 81%;
  height: 40px;
  background: none;
  border: none;
  margin-left: 10px;
  outline: none;
  font-size: 12px;
}

mat-icon {
  vertical-align: middle;
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.input-search {
  width: 25%;
  background-color: #F1F1F9;
  border: none;
  border-radius: 10px;
}

.user-box {
  display: flex;
  background-color: #F1F1F9;
  /*width: 100px;*/
  border-radius: 10px;
  height: 40px;
  width: 130px;
  margin-left: auto;
}

.user-box button {
  background: none;
}

.kolo {
  background-color: lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: auto 0 auto 12px;
}

.kolo mat-icon {
  margin: 4px 0 0 5px;
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.user-box p {
  margin: auto 10px;
}

.log_out {
  outline: none;
  border: none;
}

mat-card {
  margin: 20px 0;
  background-color: #F1F1F9;
}

.center-content {
  margin: 40px 0;
}

mat-card-subtitle {
  margin: 10px 0 30px 0;
  width: 100%;
}

mat-card-subtitle p {
  margin: 10px 0 20px 0;
}

mat-card-subtitle button {
  margin-left: auto;
  background-color: #C5C5E7;
  color: #3B3E91;
}

mat-card-title {
  margin-top: 30px;
}

mat-card-title p {
  margin: 0;
}

mat-card-header {
  padding-top: 0px;
}

mat-card-header div {
  width: 100%;
}

mat-card-title mat-icon {
  margin-left: auto;
  color: #3B3E91;
}

.card {
  display: flex;
}

.estimated-time h1 {
  font-size: 40px;
  font-weight: bold;
  color: #3B3E91;
  margin: 0;
  text-align: center;
}

.estimated-time h2 {
  font-size: 30px;
  font-weight: bold;
  color: #3B3E91;
  margin: 0 0 10px 0;
  text-align: center;
}

.estimated-time p {
  text-align: center;
  margin-top: 10px;
}

.estimated-time {
  margin-top: 51px;
}

.right-card {
  display: flex;
}

.left-card {
  width: 180%;
}

.diagram {
  text-align: center;
}
