<section class="body">
  <section class="center-content">
    <mat-card *ngFor="let survey of surveys?.content" class="example-card"
              [routerLink]="['/surveys', survey.id, 'answers']"
              routerLinkActive="list-item-active">
      <mat-card-header>
        <div class="card">
          <div class="left-card" style="width: 180%;">
            <mat-card-title>
              <p>{{ survey.title }}</p>
            </mat-card-title>
            <mat-card-subtitle>
              <p>К-сть питань: {{ survey.questions.length }}</p>
              <button mat-raised-button [routerLink]="['/surveys', survey.id, 'analysing-answers']"
                      routerLinkActive="list-item-active">
                <mat-icon> open_in_new</mat-icon>
                Детальніше
              </button>
            </mat-card-subtitle>
          </div>
          <div class="right-card">
            <div class="estimated-time">
              <h1>{{ Math.round(predictCompletionTime(survey.questions)) }}</h1>
              <h2>хвилин</h2>
              <p>Розрахунковий час</p>
            </div>
            <div class="diagram">
              <div class="charts" style="height: 100px; width: 100px; display: block; margin: 15px auto 10px auto">
                <canvas [data]="doughnutChart(survey.questions)" [type]="doughnutChartType" baseChart
                        class="chart"
                        height="100"
                        width="100">
                </canvas>
              </div>
              <p>Оцінка втоми</p>
            </div>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
    <mat-paginator (page)="initPage($event)" *ngIf="surveys" [length]="surveys.totalItems"
                   [pageIndex]="surveys.currentPage" [pageSize]="surveys.content.length"></mat-paginator>
  </section>
</section>
