<mat-card class="custom-card" appearance="outlined">
  <mat-card-content>
    <h3 class="bold-text">Найвживаніші слова</h3>
    <mat-chip-listbox>
      <mat-chip class="mat-chip-custom-style" *ngFor="let word of mostUsedWords">{{ word }}</mat-chip>
    </mat-chip-listbox>
    <br>
    <div class="answers-with-search">
      <div class="custom-search">
        <app-input-search (onSearch)="onSearch($event)"></app-input-search>
      </div>

      <div *ngFor="let answer of filteredAnswers">
        <p class="answer">{{ answer }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
