
.custom-card {
  background-color: transparent;
  border: none;
  .mat-mdc-card {
    --mdc-elevated-card-container-elevation: none;
  }
}

.answers-with-search {
  background-color: rgba(197, 198, 231, 1);
  border-radius: 12px;
  padding-bottom: 10px;

  .custom-search {
    padding: 15px 15px 0 15px;
  }

  .answer {
    word-wrap: break-word;
    font-weight: bold;
    padding: 15px 15px 0 20px;
  }
}

.text-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
}

.bold-text {
  font-weight: bold;
}
