
.body {
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.up-content {
  display: flex;
  justify-content: space-between;
}

mat-card {
  margin: 20px 0;
  background-color: #F1F1F9;
}

.center-content {
  margin: 40px 0;
}

mat-card-subtitle {
  margin: 10px 0 30px 0;
  display: flex;
  width: 100%;
}

mat-card-subtitle p {
  margin: auto 0;
}

mat-card-subtitle button {
  margin-left: auto;
  background-color: #C5C5E7;
  color: #3B3E91;
}

mat-card-title {
  margin-top: 30px;
  display: flex;
}

mat-card-title p {
  margin: 0;
}

mat-card-header {
  padding-top: 0px;
}

mat-card-header div {
  width: 100%;
}

mat-card-title mat-icon {
  color: #3B3E91;
}

mat-card-title button {
  background: none;
  box-shadow: none;
}

.delete {
  margin-left: auto;
  background: none;
  border: none;
  min-width: 24px;
  padding: 0;
  height: 24px;
}

.delete mat-icon {
  margin: 0;
  font-size: 24px;
  height: auto;
  width: auto;
}
