<section class="body">
  <section class="up-content">
    <app-input-search (onReset)="resetSearching()" (onSearch)="initPageByTitle($event)"></app-input-search>
    <app-user-box></app-user-box>
  </section>
  <section class="center-content">
    <mat-card *ngFor="let survey of surveys?.content" class="example-card" [routerLink]="['/surveys', survey.id, 'answers']"
              routerLinkActive="list-item-active">
      <mat-card-header>
        <div>
          <mat-card-title>
            <p>{{ survey?.title }}</p>
            <button (click)="showDeleteDialog(survey); $event.stopPropagation()" *ngIf="isAuthor(survey)" class="delete"
                    mat-raised-button>
              <mat-icon> delete_outline</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-subtitle>
            <p>К-сть питань: {{ survey?.questions?.length }}</p>
            <button (click)="$event.stopPropagation()" *ngIf="isAuthor(survey)" [routerLink]="'/surveys/' + survey?.id"
                    mat-raised-button
                    routerLinkActive="list-item-active">
              <mat-icon> edit</mat-icon>
              Редагувати
            </button>
          </mat-card-subtitle>
        </div>
      </mat-card-header>
    </mat-card>
    <mat-paginator (page)="initPage($event)" *ngIf="surveys" [length]="surveys.totalItems"
                   [pageIndex]="surveys.currentPage" [pageSize]="surveys.content.length"></mat-paginator>
  </section>
</section>
