html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error {
  position: fixed !important;

  .mdc-snackbar__surface {
    background-color: #c3533c !important;

  }

  .mdc-snackbar__label {
    color: white !important;
    font-size: 1.5em !important;
  }

  .mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
    color: white !important;
    font-size: 1.5em !important;
    background-color: #a64632 !important;
    height: 70% !important;
  }
}

.snackbar-success {
  position: fixed !important;

  .mdc-snackbar__surface {
    background-color: #62b470 !important;
  }

  .mdc-snackbar__label {
    color: white !important;
    font-size: 1.5em !important;
  }

  .mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
    color: white !important;
    font-size: 1.5em !important;
    background-color: #1b5015 !important;
    height: 70% !important;
  }
}

.mat-chip-custom-style.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: rgba(59, 62, 145, 1);

  .mdc-evolution-chip__text-label {
    color: #ffffff;
  }
}

.mat-chip-custom-style.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
.mat-chip-custom-style.mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
.mat-chip-custom-style.mat-mdc-standard-chip .mat-mdc-chip-action-label {
  overflow: hidden !important;
}
