<div class="chart-container">
  <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType"
          [plugins]="plugin"
  >
  </canvas>
</div>
