<div style="padding: 15px;">
  <h1 style="padding: 20px 24px 0 24px; margin-bottom: 0">Видалення Опитування</h1>
  <mat-dialog-content>Ви дійсно хочете видалити це опитування?</mat-dialog-content>
  <mat-dialog-actions class="centered-buttons">
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="true" color="warn">Підтвердити</button>
    <button mat-button mat-dialog-close>Відхилити</button>
  </mat-dialog-actions>
</div>
