mat-icon {
  vertical-align: middle;
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.user-box {
  display: flex;
  background-color: #F1F1F9;
  border-radius: 10px;
  height: 44px;
  width: 100%;
  margin-left: auto;
}

.user-box button {
  background: none;
}

.kolo {
  background-color: lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: auto 0 auto 12px;
}

.kolo mat-icon {
  margin: 4px 0 0 5px;
}

.user-box p {
  margin: auto 10px;
  font-size: 16px;
}

.log_out {
  outline: none;
  border: none;
}

.mat-toolbar.mat-primary {
  background-color: green;
  color: white;
  font-size: 1.5em;
}
