<div class="user-box">
  <div class="kolo">
    <mat-icon> person</mat-icon>
  </div>
  <p>{{ userNameToDisplay }}</p>
  <mat-menu #dfg="matMenu">
    <button (click)="openSignInDialog()" *ngIf="!user" mat-menu-item>Sign in</button>
    <button (click)="signOut()" *ngIf="user" mat-menu-item>Sign out</button>
  </mat-menu>
  <button [matMenuTriggerFor]="dfg" class="log_out">
    <mat-icon> more_vert</mat-icon>
  </button>
</div>
